/* common-styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* main-banner */
.main-banner {
    display: flex;
    background-color: black;
    color: aliceblue;
    padding: 0 100px 0 100px;
    margin: 100px;
    border-radius: 30px;
    align-items: center;
}

.main-title {
    font-size: 80px;
    margin-bottom: 0px;
}

.main-section-button {
    font-size: 15px;
    font-weight: 700;
    color: aliceblue;
    background-color: rgb(255, 0, 0);
    border: 0;
    padding: 5px 25px;
    margin-bottom: 100px;
    border-radius: 10px;
}

button:hover {
    background-color: yellow;
    color: brown;
}

.half-width {
    width: 50%;
    padding: 50px;
    padding-bottom: 0;
}

.half-width img {
    width: 100%;
}


/* blog-section */
.side-nav {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: stretch;
    padding: 33px;
    margin-right: 100px;
    border-radius: 35px;
}

.nav-button {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    padding: 5px 15px;
    margin-top: 5px;
    border-radius: 10px;
}

.match-button {
    background-color: rgb(255, 0, 0);
}

.match-button a {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: black;
}

.match-section {
    display: flex;
    margin-left: 250px;
}

.match {
    display: flex;
    justify-content: center;

}

.Upcomming-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;

}

.match-card {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 315px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.match-card p {
    color: rgb(170, 170, 170);
}

.blogs-card button {
    font-size: 15px;
    padding: 4px;
}

.view-all-button {
    display: block;
    text-align: center;
    padding: 10px 40px 10px 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    color: white;
    background-color: red;
    border-radius: 10px;
    visibility: hidden;

}

/* footer-section */
.footer-section {
    background-color: black;
    padding: 30px;
    margin-top: 100px;
}

.footer-item h1 {
    font-size: 50px;
}

.footer-item {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: rgb(194, 194, 194);
}

hr {
    width: 1500px;
    color: rgb(82, 82, 82);
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links p {
    margin: 30px;
}

.social-media a {
    font-size: 35px;
    color: rgb(197, 197, 197);
    text-align: center;
}

.social-media h1 {
    text-align: center;
    padding-top: 0;
}





/* mobile-device */


/* .main-banner */
@media only screen and (max-width: 688px) {
    .main-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding: 0;
        margin: 0;
        border-radius: 0;
    }

    .half-width h1 {
        font-size: 40px;
        text-align: center;
    }

    .half-width p {
        font-size: 10px;
        text-align: center;
    }

    .half-width {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .half-width img {
        width: 70%;
        margin-left: 15%;
    }

    .main-section-button {
        margin-bottom: 0;
        margin-left: 35%;
    }

    /* blog-section */

    .match-section {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;

    }

    .side-nav {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin: 10px;
        margin-left: 20%;

    }

    .nav-button {
        margin-right: 10px;
        padding-right: 25px;
        border: 1px solid black;
    }

    .Upcomming-match {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-section {
        width: 100%;
        padding: 0;
    }

    .footer-item {
        text-align: center;
        justify-content: center
    }

    hr {
        width: 80%;
    }

    .footer-links {
        flex-direction: column;
    }
}

/* tablet device */
@media only screen and (min-width: 689px) and (max-width:992px) {
    .main-banner {
        display: flex;
        background-color: black;
        color: aliceblue;
        padding: 0 20px 0 20px;
        margin: 10px;
        border-radius: 30px;
        align-items: center;
    }

    .half-width h1 {
        font-size: 40px;
    }

    .half-width p {
        font-size: 10px;
    }

    .half-width {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .half-width img {
        width: 70%;
        margin-left: 15%;
    }

    /* match-section */

    .match-section {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;

    }

    .side-nav {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        margin-right: 0;


    }

    .nav-button {
        margin-right: 5px;
        padding-right: 80px;
        padding: 20px 80px 20px 80px;
        border: 1px solid black;
    }

    .Upcomming-match {
        grid-template-columns: repeat(2, 1fr);
    }


    /* footer-section */
    .footer-section {
        width: 100%;
        padding: 0;
    }

    .footer-item {
        text-align: center;
        justify-content: center
    }

    hr {
        width: 80%;
    }

    .footer-links {
        font-size: 10px;
        flex-direction: row;
    }
}